aiogram
openai
requests
dependencies
aiohttp
feedparser
aiogram_calendar
httpx-socks
telethon
httpx
python-dotenv
pysqlite3
pandas
bs4
requests
apscheduler
python-dotenv
telethon
asyncio
httpx
httpx_socks
openai
simple-tg-md==0.1.1